################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/repos/GoogleAuthenticator/.vs/GoogleAuthenticator/config
